<template>
  <div class="row full-width justify-start">
    <div class="col-5">
      <strong>{{ label }}:</strong>
    </div>
    <div class="col-7">
      {{ value }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'EventTime',
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
  },
});
</script>
