<template>
  <div class="absolute" style="top: 32px; right: -13px">
    <q-btn
      @click="$emit('click')"
      @mouseover="$emit('mouseover', $event)"
      :icon="icon"
      dense
      size="11px"
      style="transition: 0.3s"
      id="expand_btn"
      class="expand_btn"
      rounded
      color="white"
      text-color="black"
    />
  </div>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/composition-api';
  export default defineComponent({
    props: {
      icon: {
        type: String,
        default: ''
      }
    }
  });
</script>

<style scoped>
  .expand_btn:hover {
    background-color: #012a77 !important;
    color: white !important;
  }
</style>