<template>
  <q-footer class="xs">
    <q-tabs>
      <q-route-tab v-for="menuItem in menuItems" :key="menuItem.title" :to="menuItem.link" :icon="menuItem.icon" />
      <q-tab v-if="isAuthenticated">
        <q-item-section avatar class="q-pr-none items-center">
          <q-avatar size="35px">
            <img src="~assets/avatar.svg" />
          </q-avatar>
          <UserMenu />
        </q-item-section>
      </q-tab>
      <q-route-tab v-else :to="`/login`" icon="exit_to_app" />
    </q-tabs>
  </q-footer>
</template>

<script lang="ts">
  import { defineComponent, computed } from '@vue/composition-api';
  import { useGetters } from '@u3u/vue-hooks';
  import UserMenu from '@/components/MainLayout/UserMenu.vue';

  import { menuItems } from '@/statics/menuItems';

  export default defineComponent({
    name: 'Footer',
    components: {
      UserMenu
    },
    setup() {
      const { IsAuthenticated: isAuthenticated } = useGetters('Auth', ['IsAuthenticated']);

      return {
        menuItems,
        isAuthenticated
      };
    }
  });
</script>