<template>
  <q-item clickable v-ripple style="min-height: 40px" :to="navigationItem.link" class="rounded-borders" active-class="bg-grey-3 text-primary">
    <q-item-section avatar>
      <q-icon :name="navigationItem.icon" />
    </q-item-section>
    <q-item-section>
      {{ navigationItem.title }}
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/composition-api';

  export default defineComponent({
    name: 'NavigationItem',
    props: {
      navigationItem: {
        type: Object,
        default: {}
      }
    }
  });
</script>