<template>
  <q-page-container style="transition: 0.3s" :style="margin">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
  </q-page-container>
</template>

<script lang="ts">
  import { defineComponent, computed } from '@vue/composition-api';
  import { QVueGlobals } from 'quasar';

  export default defineComponent({
    name: 'PageContainer',
    setup(_, ctx) {
      const margin = computed(() => {
        return `margin-left: ${ctx.root.$q.screen.xs ? 0 : 64}px`;
      });
      return {
        margin
      };
    }
  });
</script>


<style>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
</style>
