<template>
  <FormInput
    label="Email"
    :debounce="500"
    autofocus
    prependIcon="alternate_email"
    :value="value"
    :errorMessage="checkEmailError(v.email)"
    :vuelidateModel="v.email"
    @input="$emit('input', $event)"
  />
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import FormInput from '@/components/Authentication/FormInput.vue';

export default defineComponent({
  name: 'EmailInput',
  components: {
    FormInput,
  },
  props: {
    v: {},
    value: {
      type: String,
      default: '',
    },
  },
  setup() {
    const checkEmailError = (val: any) => {
      if (val.required && val.required.$invalid) {
        return `Это поле обязательное для заполнения`;
      }
      if (val.emailExist && val.emailExist.$invalid) {
        return `Данный Email уже занят`;
      }
      if (val.emailValidator && val.emailValidator.$invalid) {
        return `Введите корректный Email`;
      }
      return '';
    };

    return { checkEmailError };
  },
});
</script>
