<template>
  <div>
    <LoginInput :v="$v" v-model="login" />
    <PasswordInput :v="$v" v-model="password" @submit="submit" />
    <q-btn unelevated class="full-width q-mt-xl" size="lg" rounded color="primary" label="Войти" @click="submit" :disable="$v.$invalid" />
    <div class="q-mt-lg row justify-around">
      <router-link :to="`/registration`" style="cursor: pointer;" class="primary text-center" tag="span">Регистрация</router-link>
      <router-link :to="`/forgotPassword`" style="cursor: pointer;" class="primary text-center" tag="span">Забыли пароль?</router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive } from '@vue/composition-api';
import { useActions } from '@u3u/vue-hooks';

import LoginInput from '@/components/Authentication/LoginInput.vue';
import PasswordInput from '@/components/Authentication/PasswordInput.vue';

import { useForm } from '@/components/Authentication/useForm';
export default defineComponent({
  name: 'LoginForm',
  components: {
    LoginInput,
    PasswordInput,
  },
  setup() {
    const { login } = useActions('Auth', ['login']);
    return {
      ...useForm(login, 'login'),
    };
  },
});
</script>
