<template>
  <FormInput
    :label="label"
    prependIcon="lock"
    :appendIcon="showPassword ? 'visibility' : 'visibility_off'"
    @togglePassword="showPassword = !showPassword"
    appendIconClickEventName="togglePassword"
    :type="showPassword"
    :value="value"
    :errorMessage="checkPasswordError(v.password)"
    :vuelidateModel="v.password"
    @input="$emit('input', $event)"
    @submit="$emit('submit', $event)"
  />
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';
import FormInput from '@/components/Authentication/FormInput.vue';

export default defineComponent({
  name: 'PasswordInput',
  components: {
    FormInput,
  },
  props: {
    v: {},
    label: {
      type: String,
      default: 'Пароль',
    },
    value: {
      type: String,
      default: '',
    },
  },
  setup() {
    const showPassword = ref(false);

    const checkPasswordError = (val: any) => {
      if (val.required && val.required.$invalid) {
        return `Это поле обязательное для заполнения`;
      }
      if (val.minLength && val.minLength.$invalid) {
        return `Пароль должен состоять хотя бы из ${val.minLength.$params.length} символов`;
      }
      return '';
    };

    return { checkPasswordError, showPassword };
  },
});
</script>
