<template>
  <div>
    <PasswordInput :v="$v" v-model="password" @submit="submit" label="Новый пароль" />
    <q-btn unelevated class="full-width q-mt-xl" size="lg" rounded color="primary" label="Потвердить" @click="submit" :disable="$v.$invalid" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';
import useVuelidate from 'boot/vuelidate';
// @ts-ignore
import { required, minLength } from '@vuelidate/validators';
import PasswordInput from 'components/Authentication/PasswordInput.vue';
import { useActions, useRouter } from '@u3u/vue-hooks';
import { triggerNegative, triggerPositive } from '@/utils/Notifications';

export default defineComponent({
  name: 'ResetPasswordForm',
  components: {
    PasswordInput,
  },
  props: {
    token: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    const { resetPassword } = useActions('Auth', ['resetPassword']);
    const { router } = useRouter();
    const password = ref('');
    // @ts-ignore
    const $v = useVuelidate(
      {
        password: { required, minLength: minLength(8), $autoDirty: true },
      },
      { password }
    );

    const submit = async () => {
      const result = await resetPassword({ token: props.token, newPassword: password.value });
      console.log(result);
      if (result.success) {
        triggerPositive(`Пароль был успешно изменен`);
        password.value = '';
        router.push('/login');
      } else {
        triggerNegative(result.message, 5000);
        router.push('/forgotPassword');
      }
    };

    return {
      password,
      $v,
      submit,
    };
  },
});
</script>
