<template>
  <div class="q-px-md">
    <q-btn
      size="10px"
      class="full-width"
      align="left"
      text-color="black"
      no-caps
      dense
      flat
      color="primary"
      @click.stop.prevent="$emit('showEvent', event)"
    >
      <div class="flex ellipsis no-wrap items-center">
        <div class="dot__wrapper q-ml-xs">
          <div class="dot" :style="dotColor(event)"></div>
        </div>
        <span class="q-ml-xs text-grey-8" style="font-size: 12px;">{{ event.time }}</span>
        <span class="q-ml-xs text-weight-bold ellipsis" style="font-size: 12px;">{{ event.title }}</span>
      </div>
    </q-btn>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import { useCalendarBadge } from '@/components/Timetable/Calendar/useCalendarBadge';

export default defineComponent({
  name: 'DayEventBadge',
  props: {
    event: {
      type: Object,
    },
  },
  setup() {
    const { dotColor } = useCalendarBadge();
    return {
      dotColor,
    };
  },
});
</script>

<style>
.dot {
  border-radius: 8px;
}

.dot__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}
</style>
