<template>
  <q-scroll-area style="height: 555px;">
    <div class="q-gutter-y-md">
      <q-card square flat bordered v-for="section in optionalSections" :key="section.sectionId">
        <q-card-section horizontal>
          <q-card-section horizontal class="col-3 q-pa-md">
            <q-img :src="sectionImageSrc[section.name]" />
          </q-card-section>

          <q-card-section class="col-9" horizontal>
            <q-card-section class="full-width">
              <div class="text-h6">{{ section.name }}</div>
              <q-separator />
              <div v-if="section.hasSelectedGroup" class="q-mt-md">
                <div v-if="!section.isSubject"><span class="text-bold">Предмет: </span>{{ section.selectedCourseName }}</div>
                <div><span class="text-bold">Преподаватель: </span>{{ section.selectedCourseTeacherName }}</div>
              </div>
            </q-card-section>
          </q-card-section>
        </q-card-section>
        <q-separator />

        <q-card-actions align="right" class="q-mr-md">
          <q-btn flat color="primary" :label="section.hasSelectedGroup ? 'Изменить' : 'Выбрать'" @click="selectOptionalGroup(section)" />
          <q-dialog v-model="optionalGroupDialog" persistent>
            <q-card style="min-width: 400px;">
              <q-card-section class="row items-center q-pb-none">
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

              <q-card-section class="q-gutter-md">
                <q-select
                  outlined
                  :value="subject"
                  v-if="subjectVisible"
                  @input="handleSubjectSelect"
                  :options="subjects"
                  map-options
                  emit-value
                  option-value="id"
                  option-label="name"
                  label="Курс по выбору"
                />
                <q-select
                  outlined
                  :value="teacher"
                  @input="handleTeacherSelect"
                  :options="teachers"
                  v-if="teachers.length > 1"
                  map-options
                  emit-value
                  option-value="id"
                  option-label="teacherName"
                  label="Преподаватель"
                />
                <q-select
                  outlined
                  v-model="subGroup"
                  :options="subGroups"
                  v-if="subGroups && subGroups.length > 1"
                  map-options
                  emit-value
                  option-value="id"
                  option-label="subGroupNumber"
                  label="Подгруппа"
                />
              </q-card-section>
              <q-card-section>
                <q-btn
                  unelevated
                  class="full-width"
                  size="lg"
                  rounded
                  color="primary"
                  :label="currentSection && currentSection.hasSelectedGroup ? 'Изменить' : 'Выбрать'"
                  @click="handleAddStudentToOptionalGroup"
                />
              </q-card-section>
            </q-card>
          </q-dialog>
        </q-card-actions>
      </q-card>
    </div>
  </q-scroll-area>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from '@vue/composition-api';
import { useActions, useGetters } from '@u3u/vue-hooks';
import OptionalSection from '@/models/OptionalSection';

export default defineComponent({
  name: 'OptionalSections',
  setup() {
    const { User: user } = useGetters('Auth', ['User']);
    const { OptionalSections: optionalSections, Subjects: subjects, Teachers: teachers, SubGroups: subGroups } = useGetters('OptionalGroup', [
      'OptionalSections',
      'Subjects',
      'Teachers',
      'SubGroups',
    ]);
    const {
      getOptionalSections,
      getSubjects,
      getTeachers,
      clearTeachers,
      getSubGroups,
      clearSubGroups,
      addStudentToOptionalGroup,
    } = useActions('OptionalGroup', [
      'getOptionalSections',
      'getSubjects',
      'getTeachers',
      'clearTeachers',
      'getSubGroups',
      'clearSubGroups',
      'addStudentToOptionalGroup',
    ]);
    const sectionImageSrc = {
      'Научный блок': 'statics/sections/science.svg',
      'Практический блок': 'statics/sections/practice.svg',
      'Иностранный язык (английский)': 'statics/sections/language.svg',
      'Методология научных исследований': 'statics/sections/science_research.svg',
    };
    const subject = ref<number>(null);
    const teacher = ref<number>(null);
    const subGroup = ref<number>(null);
    const optionalGroupDialog = ref(false);
    const subjectVisible = ref(true);
    const currentSection = ref<OptionalSection>(null);
    const selectOptionalGroup = async (section: OptionalSection) => {
      currentSection.value = section;
      await getSubjects(section.sectionId);
      subject.value = null;
      teacher.value = null;
      subGroup.value = null;
      await clearTeachers();
      await clearSubGroups();
      subjectVisible.value = true;
      if (section.isSubject) {
        await getTeachers(section.subjectId);
        subjectVisible.value = false;
      }
      optionalGroupDialog.value = true;
    };
    const handleSubjectSelect = async (value: string) => {
      subject.value = parseInt(value);
      teacher.value = null;
      subGroup.value = null;
      await getTeachers(subject.value);
      await clearSubGroups();
      if (teachers.value.length === 1) {
        teacher.value = teachers.value[0].id;
        await getSubGroups({ teacherId: teacher.value, academicGroupId: user.value.academicGroup.id });
        if (subGroups.value.length === 1) {
          subGroup.value = subGroups.value[0].id;
        }
      }
    };
    const handleTeacherSelect = async (value: string) => {
      teacher.value = parseInt(value);
      subGroup.value = null;
      await getSubGroups({ teacherId: teacher.value, academicGroupId: user.value.academicGroup.id });
      if (subGroups.value.length === 1) {
        subGroup.value = subGroups.value[0].id;
      }
    };
    const handleAddStudentToOptionalGroup = async () => {
      await addStudentToOptionalGroup({ studentId: user.value.studentId, subGroup: subGroup.value, section: currentSection.value });
      optionalGroupDialog.value = false;
      await getOptionalSections(user.value);
    };
    onMounted(async () => {
      await getOptionalSections(user.value);
    });
    return {
      optionalSections,
      currentSection,
      sectionImageSrc,
      optionalGroupDialog,
      subject,
      teacher,
      subGroup,
      subjects,
      teachers,
      subGroups,
      subjectVisible,
      selectOptionalGroup,
      handleSubjectSelect,
      handleTeacherSelect,
      handleAddStudentToOptionalGroup,
    };
  },
});
</script>
