<template>
  <q-img :src="user.imageUrl" v-if="user.imageUrl" native-context-menu style="height: 0; padding-bottom: 100%;" alt="Аватар пользователя">
    <template v-slot:error>
      <img src="~assets/avatar.svg" class="full-width full-height" alt="Аватар пользователя" />
    </template>
  </q-img>
  <img v-else src="~assets/avatar.svg" class="full-width" alt="Аватар пользователя" />
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import { useGetters } from '@u3u/vue-hooks';

export default defineComponent({
  name: 'UserImage',
  setup() {
    const { User: user } = useGetters('Auth', ['User']);
    return {
      user,
    };
  },
});
</script>
