<template>
  <q-layout view="hHh Lpr fFf">
    <GlobalNavigation v-if="$q.screen.gt.xs" />
    <DynamicNavigation v-if="$q.screen.gt.xs && isAuthenticated" />
    <PageContainer />
    <Footer v-if="$q.screen.xs" />
  </q-layout>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/composition-api';
  import { useGetters } from '@u3u/vue-hooks';

  import GlobalNavigation from '@/components/MainLayout/GlobalNavigation.vue';
  import DynamicNavigation from '@/components/MainLayout/DynamicNavigation.vue';
  import PageContainer from '@/components/MainLayout/PageContainer.vue';
  import Footer from '@/components/MainLayout/Footer.vue';

  export default defineComponent({
    name: 'MainLayout',
    components: {
      GlobalNavigation,
      DynamicNavigation,
      PageContainer,
      Footer
    },
    setup() {
      const { IsAuthenticated: isAuthenticated } = useGetters('Auth', ['IsAuthenticated']);
      return { isAuthenticated };
    }
  });
</script>
