<template>
  <q-page class="q-pa-lg">
    <div class="q-pa-md">
      <q-list dense bordered paddin class="rounded-borders" style="max-width: 500px">
        <q-item-label header>Lectures</q-item-label>
        <q-item v-for="lecture in allLectures" :key="lecture.path" style="margin-top: 5px">
          <q-item-section avatar top>
            <q-avatar icon="assignment" color="primary" text-color="white" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ lecture.fullName }}</q-item-label>
          </q-item-section>
          <q-item-section side top>
            <q-btn-group push>
              <q-btn @click="onDownload(lecture.path)" download color="white" text-color="black" label="Download" />
              <q-btn @click="onRemove(lecture.path)" color="white" text-color="black" label="Remove" />
            </q-btn-group>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-label v-if="!allLectures.length" caption>Lectures not found</q-item-label>
        </q-item>
      </q-list>
      <br />
      <q-card class="q-pa-md" style="max-width: 500px;">
        <q-file counter clearable :value="file" @input="updateFile" outlined accept=".pdf">
          <template v-slot:prepend>
            <q-icon name="attach_file" />
          </template>
          <template v-slot:file="{ index, file }">
            <q-chip class="full-width q-my-xs" square>
              <q-linear-progress class="absolute-full full-height" :value="progress" color="green" track-color="grey-2" />
              <q-avatar>
                <q-icon name="insert_drive_file" />
              </q-avatar>
              <div class="ellipsis relative-position">
                {{ file.name }}
              </div>
              <q-tooltip> {{ file.name }} </q-tooltip>
            </q-chip>
          </template>
        </q-file>
        <q-btn class="q-mt-lg" color="primary" icon="cloud_upload" label="Загрузить" @click="onUpload" :disable="!canUpload" />
      </q-card>
    </div>
  </q-page>
</template>

<script lang='ts'>
import { defineComponent, onMounted, ref, computed } from '@vue/composition-api';
import { useActions, useGetters } from '@u3u/vue-hooks';
import { api } from '@/store/api/api';
import { ResolveOptions } from 'dns';
import { callbackify } from 'util';

export default {
  name: 'Lectures',
  meta: {
    title: 'Lectures'
  },
  setup() {
    let file = ref(null);
    const progress = ref(0);
    const lectures = ref([]);

    const { getLectures } = useActions('Lectures', ['getLectures']);
    const { allLectures: allLectures } = useGetters('Lectures', ['allLectures']);

    const onDownload = async (path: string) => {
      const { downloadLecture } = useActions('Lectures', ['downloadLecture']);
      const file = downloadLecture(path);
    };

    const onRemove = async (path: string) => {
      const { removeLecture } = useActions('Lectures', ['removeLecture']);
      removeLecture(path);
    };

    const canUpload = computed(() => {
      return file.value !== null;
    });

    const onUpload = async () => {
      const formData = new FormData();
      progress.value = 0;
      formData.append((file.value as any).name, file.value as any);
      await api.uploadLecture(formData, (progressValue: number) => {
        progress.value = progressValue;
      });
      await getLectures();
    };

    const updateFile = (f: any) => {
      file.value = f;
      progress.value = 0;
    };

    onMounted(async () => {
      await getLectures();
    });

    return {
      onDownload,
      allLectures,
      onRemove,
      onUpload,
      file,
      updateFile,
      canUpload,
      progress
    };
  }
};
</script>