<template>
  <AuthLayout>
    <LoginForm />
  </AuthLayout>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import LoginForm from '@/components/Authentication/LoginForm.vue';
import AuthLayout from '@/layouts/AuthLayout.vue';
export default defineComponent({
  name: 'Login',
  components: {
    AuthLayout,
    LoginForm,
  },
  meta: {
    title: 'Авторизация',
  },
});
</script>
