<template>
  <q-page class="flex flex-center">
    <div class="bg-primary">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore vero quidem labore impedit, consequuntur nulla soluta harum, obcaecati iure
      facere corrupti quibusdam, architecto iusto porro id numquam magni odio assumenda velit. Neque eos illum, amet cupiditate rerum perferendis
      tempore molestiae nesciunt sunt impedit assumenda magnam sapiente numquam nulla similique quis vero, commodi, iusto dolorem placeat cum quaerat!
      Praesentium ipsa officia sint a consequuntur perspiciatis illo eum tempora? In distinctio accusantium tempore doloremque rem deserunt asperiores
      quod consectetur reiciendis aliquid ad qui nulla vitae pariatur ut, neque veniam nesciunt officia. Reiciendis consectetur suscipit quae commodi
      magni placeat repellendus necessitatibus natus vero!
    </div>
  </q-page>
</template>

<script>
  export default {};
</script>

<style>
</style>