<template>
  <q-page class="q-pa-lg">
    <q-card class="q-pa-md" style="max-width: 400px;">
      <q-file counter clearable :value="file" @input="updateFile" outlined accept=".xls, .xlsx">
        <template v-slot:prepend>
          <q-icon name="attach_file" />
        </template>
        <template v-slot:file="{ index, file }">
          <q-chip class="full-width q-my-xs" square>
            <q-linear-progress class="absolute-full full-height" :value="progress" color="green" track-color="grey-2" />
            <q-avatar>
              <q-icon name="insert_drive_file" />
            </q-avatar>
            <div class="ellipsis relative-position">
              {{ file.name }}
            </div>
            <q-tooltip> {{ file.name }} </q-tooltip>
          </q-chip>
        </template>
      </q-file>
      <DateInput :date="dateStart" @dateChanged="handleDateStartChanged" label="Дата начала семестра" />
      <DateInput :date="dateEnd" @dateChanged="handleDateEndChanged" label="Дата окончания семестра" />
      <q-btn class="q-mt-lg" color="primary" icon="cloud_upload" label="Загрузить" @click="upload" :disable="!canUpload" />
    </q-card>
  </q-page>
</template>

<script lang="ts">
import { ref, defineComponent, computed } from '@vue/composition-api';
import { api } from '@/store/api/api';
import DateInput from '@/components/Timetable/Upload/DateInput.vue';

export default defineComponent({
  name: 'TimetableUpload',
  meta: {
    title: 'Загрузить расписание',
  },
  components: {
    DateInput,
  },
  setup() {
    const file = ref(null);
    const progress = ref(0);
    const upload = async () => {
      const formData = new FormData();
      progress.value = 0;
      formData.append((file.value as any).name, file.value as any);
      formData.append('dateStart', dateStart.value.toUTCString());
      formData.append('dateEnd', dateEnd.value.toUTCString());
      await api.uploadTimetable(formData, (progressValue: number) => {
        progress.value = progressValue;
      });
    };

    const handleDateEndChanged = (value: Date) => {
      dateEnd.value = value;
    };

    const handleDateStartChanged = (value: Date) => {
      dateStart.value = value;
    };

    const dateStart = ref<Date>(new Date());
    const dateEnd = ref<Date>(new Date());

    const canUpload = computed(() => {
      return file.value !== null;
    });

    const updateFile = (f: any) => {
      file.value = f;
      progress.value = 0;
    };

    return {
      file,
      dateStart,
      dateEnd,
      canUpload,
      progress,
      upload,
      updateFile,
      handleDateEndChanged,
      handleDateStartChanged,
    };
  },
});
</script>
