<template>
  <q-page class="column" style="overflow: hidden;">
    <TimetableToolbar
      :selectedDate="date"
      :calendarView="calendarView"
      @previous="handlePeriodChange('previous')"
      @next="handlePeriodChange('next')"
      @setToday="setToday"
      @calendarViewChanged="handleCalendarViewChanged"
    />
    <div class="row">
      <div style="background-color: #fff; width: 310px;" class="flex justify-center items-start">
        <DatePicker :date="date" @dateChanged="handleDateChanged" />
      </div>
      <div style="flex: 1 1 auto;">
        <Calendar
          :selectedDate="date"
          :calendar-view="calendarView"
          @calendarViewChanged="handleCalendarViewChanged"
          @selectedDateChanged="handleDateChanged"
        />
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from '@vue/composition-api';
import Calendar from '@/components/Timetable/Calendar/Calendar.vue';
import DatePicker from '@/components/Timetable/Calendar/DatePicker.vue';
import TimetableToolbar from '@/components/Timetable/TimetableToolbar.vue';
import { calendarViewType, periodChangeType } from '@/models/calendarTypes';
import { useActions } from '@u3u/vue-hooks';
import { addDays, addMonths, setDate } from 'date-fns';

export default defineComponent({
  name: 'Timetable',
  meta: {
    title: 'Расписание',
  },
  components: {
    Calendar,
    TimetableToolbar,
    DatePicker,
  },
  setup() {
    const calendarView = ref<calendarViewType>('week');
    const date = ref<Date>(new Date());
    const { getLessons } = useActions('Timetable', ['getLessons']);
    const setToday = () => (date.value = new Date());

    const handleCalendarViewChanged = (value: calendarViewType) => {
      calendarView.value = value;
    };
    const handleDateChanged = (value: Date) => {
      date.value = value;
    };
    const handlePeriodChange = (type: periodChangeType) => {
      let amount = 0;
      switch (calendarView.value) {
        case 'month':
          amount = type === 'next' ? 1 : -1;
          date.value = setDate(addMonths(date.value, amount), 1);
          if (date.value.getDay() === 0) date.value = addDays(date.value, 1);
          break;
        case 'week':
          amount = type === 'next' ? 7 : -7;
          date.value = addDays(date.value, amount);
          break;
        case 'day':
          const dayWeek = type === 'next' ? 6 : 1;
          amount = date.value.getDay() === dayWeek ? 2 : 1;
          if (type === 'previous') amount *= -1;
          date.value = addDays(date.value, amount);
          break;
      }
    };

    onMounted(async () => {
      await getLessons();
    });

    return {
      calendarView,
      date,
      handleCalendarViewChanged,
      handleDateChanged,
      setToday,
      handlePeriodChange,
    };
  },
});
</script>
