<template>
  <div>
    <q-select
      class="q-mt-md"
      :readonly="!isEdit"
      ref="courseNumberRef"
      outlined
      :value="courseNumber"
      @input="$emit('courseNumberChange', $event)"
      :options="courses"
      label="Курс"
    />
    <q-select
      :readonly="!isEdit"
      outlined
      ref="academicGroupRef"
      map-options
      option-value="id"
      option-label="name"
      class="q-mt-md"
      :value="academicGroup"
      @input="$emit('academicGroupChange', $event)"
      :options="academicGroups"
      label="Академическая группа"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from '@vue/composition-api';
import { useGetters } from '@u3u/vue-hooks';

export default defineComponent({
  name: 'CourseSelector',
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
    academicGroup: {
      type: Object,
    },
    courseNumber: {
      type: Number,
    },
  },
  setup(_, ctx) {
    const courses = ['1', '2', '3', '4'];
    const { AcademicGroups: academicGroups } = useGetters('Profile', ['AcademicGroups']);
    const courseNumberRef = ref<any>(null);
    const academicGroupRef = ref<any>(null);

    onMounted(() => {
      ctx.root.$on('startEdit', () => {
        courseNumberRef.value!.hidePopup();
        academicGroupRef.value!.hidePopup();
      });
    });

    return {
      courses,
      academicGroups,
      courseNumberRef,
      academicGroupRef,
    };
  },
});
</script>
