<template>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <UsernameForm :isEdit="isEdit" v-model="usernameForm" />
    </div>
    <div class="col-xs-12 col-md-6 q-pl-md-md">
      <q-input :readonly="!isEdit" outlined class="q-mt-md" v-model.number="workingExperience" label="Стаж работы"></q-input>
      <q-input :readonly="!isEdit" outlined class="q-mt-md" v-model="imageUrl" label="Ссылка на изображение"></q-input>
    </div>
    <div class="col-xs-12 text-right q-mt-md">
      <SubmitButtons :isEdit="isEdit" @toggleEdit="toggleEdit" @save="save" @cancel="cancel"></SubmitButtons>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';
import SubmitButtons from 'components/Profile/SubmitButtons.vue';
import UsernameForm from 'components/Profile/UsernameForm.vue';
import CourseSelector from 'components/Profile/CouserSelector.vue';
import { useActions, useGetters } from '@u3u/vue-hooks';
import { useProfileForm } from 'components/Profile/useProfileForm';
import Teacher from '@/models/Teacher';

export default defineComponent({
  name: 'TeacherForm',
  components: {
    SubmitButtons,
    UsernameForm,
    CourseSelector,
  },
  setup() {
    const { updateTeacher } = useActions('Profile', ['updateTeacher']);
    const { User: user } = useGetters('Auth', ['User']);
    const { isEdit, toggleEdit, usernameForm, imageUrl, cancel: baseCancel } = useProfileForm(user.value);
    const workingExperience = ref(user.value.workingExperience);

    const save = async () => {
      const teacher = new Teacher(
        user.value.id,
        user.value.login,
        usernameForm.name,
        usernameForm.surname,
        usernameForm.middleName,
        usernameForm.email,
        imageUrl.value,
        workingExperience.value
      );
      await updateTeacher(teacher);
      toggleEdit();
    };

    const cancel = () => {
      baseCancel();
      workingExperience.value = user.value.workingExperience;
    };

    return {
      isEdit,
      toggleEdit,
      save,
      cancel,
      usernameForm,
      imageUrl,
      workingExperience,
    };
  },
});
</script>
