<template>
  <div>
    <q-input
      v-for="property in Object.keys(value)"
      :key="property"
      :readonly="!isEdit || property === 'email'"
      outlined
      class="q-mt-md"
      :value="value[property]"
      @input="changed(property, $event)"
      :label="labels[property]"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'UsernameForm',
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
    value: {
      type: Object,
      required: true,
    },
  },
  setup(props, ctx) {
    const changed = (property: string, value: string) => {
      const user = props.value;
      user[property] = value;
      ctx.emit('input', user);
    };
    const labels = {
      surname: 'Фамилия',
      name: 'Имя',
      middleName: 'Отчество',
      email: 'Email',
    };
    return {
      changed,
      labels,
    };
  },
});
</script>
